@import '../../assets/styles/abstracts/index';

.c-input {
  $animation-duration: 1.5s;

  &__text {
    transition: color $g-transition-duration ease-in-out;
  }

  &.is-valid {
    $state-color: $color-success;

    .c-input__text {
      color: $state-color;
    }

    .c-input__control {
      animation: pulse-valid $animation-duration;
      border-color: $state-color;
      color: $state-color;

      // stylelint-disable-next-line selector-max-specificity
      &::placeholder {
        color: $state-color;
      }
    }
  }

  &.is-invalid {
    $state-color: $color-danger;

    .c-input__text {
      color: $state-color;
    }

    .c-input__control {
      animation: pulse-invalid $animation-duration;
      border-color: $state-color;
      color: $state-color;

      // stylelint-disable-next-line selector-max-specificity
      &::placeholder {
        color: $state-color;
      }
    }
  }

  &.is-warning {
    $state-color: $color-warning;

    .c-input__text {
      color: $state-color;
    }

    .c-input__control {
      animation: pulse-warning $animation-duration;
      border-color: $state-color;
      color: $state-color;

      // stylelint-disable-next-line selector-max-specificity
      &::placeholder {
        color: $state-color;
      }
    }
  }
}

// stylelint-disable-next-line no-duplicate-selectors
.c-input__control {
  @import 'input-mixins';

  $transition-duration: $g-transition-duration;
  $transition-timing-function: $g-transition-timing-function;

  $c-input-font-family: null !default;
  $c-input-bg-color: transparent !default;
  $c-input-bg-color-disabled: null !default;
  $c-input-color: rgba($g-text-color, 0.9) !default;
  $c-input-color-placeholder: rgba($g-text-color, 0.7) !default;
  $c-input-border-color: $g-border-color !default;
  $c-input-border-width: 2px !default; // stylelint-disable-line meowtec/no-px
  $c-input-border-radius: px-to-rem(8px) !default;
  $c-input-border-focus: null !default;
  $c-input-font-size: px-to-em(14px) !default;
  $c-input-line-height: 1 !default;
  $c-input-padding-vertical: pad(xsmall);
  $c-input-padding-horizontal: pad(4xsmall);
  // Removed border width to match with design
  $c-input-height-base: px-to-rem(24px) !default;
  $animation-duration: 1.5s;

  @include form-control-block();
  @include form-control-modifier();

  // border-top: 0;
  // border-right: 0;
  // border-left: 0;
  font-weight: 600;
  transition: border-color $transition-duration $transition-timing-function,
    color $transition-duration $transition-timing-function;

  &::placeholder {
    transition: color $transition-duration $transition-timing-function;
  }

  //
  // Elements
  // -------------------------

  &:focus {
    border-color: $color-primary;
    outline: none;
  }

  &[disabled] {
    background-color: $c-input-bg-color-disabled;
    opacity: 0.5;
  }

  //
  // Modifiers
  // -------------------------

  &--textarea {
    overflow: auto; // Per CSS3 UI, `resize` only applies when `overflow` isn't `visible`
    height: auto;
    resize: none; // Options: horizontal, vertical, both
  }
}
