@import '~assets/styles/abstracts/index';
@import '~/components/Form/variables';

// stylelint-disable declaration-no-important, selector-max-specificity, selector-max-class
.c-input {
  //
  // Block
  //

  position: relative;
  display: block;

  //
  // Element
  //

  &__toggle-type {
    position: absolute;
    z-index: $z-index-c-input-toggle-type;
    top: 50%;
    right: $input-action-button-inital-right-value;
    color: $input-action-button-color;
    cursor: pointer;
    fill: currentColor;
    transform: translate3d(0, -50%, 0);

    &::after {
      position: absolute;
      top: 40%;
      left: 50%;
      width: 120%;
      border: 1px solid currentColor;
      content: '';
      transform: translate3d(-50%, -50%, 0) rotate(-24deg) scale(0);
      transition: transform 0.2s ease;
    }
  }

  &__control {
    position: relative;
    z-index: $z-index-c-input-control;
    display: block;
    width: 100%;
    min-width: $input-min-width;
    height: $control-height;
    padding: 0 $control-padding-sides;
    border: solid $control-border-color;
    margin: $label-safe-area-gap 0; // Add this to create safe area for label
    background-color: $control-background-color;
    background-image: none;
    border-radius: $input-border-radius;
    border-width: $control-border-width;
    color: $input-color;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    line-height: 2;
    outline: 0;
    transition: max-width 0.7s, border-color 0.2s, border-radius 0.2s;

    @if not($control-box-shadow == null) {
      box-shadow: $control-box-shadow;
    }

    &::placeholder {
      color: $input-placeholder-color;
    }

    &--textarea {
      overflow: auto;
      height: auto;
      padding-top: px-to-rem(16px);
      line-height: 1.3;
      mask-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC');
      resize: vertical;

      + .c-input__label {
        @include input-dynamic-height;
      }
    }
  }

  &__label {
    @include input-label-create;
  }

  //
  // Modifier
  //

  &--togglable {
    .c-input__control {
      padding-right: pad();
    }
  }

  &.has-expand-on-focus {
    .c-input__label {
      overflow: hidden;
      max-width: $input-expand-on-focus-max-width-initial - $control-padding-sides;
      white-space: nowrap;
    }

    .c-input__control {
      max-width: $input-expand-on-focus-max-width-initial;
    }
  }

  //
  // State Styles
  //

  @each $state-name, $state-color, $state-animation-name in $input-states {
    &.is-#{$state-name} {
      .c-input__label {
        color: $state-color !important;
      }

      .c-input__control {
        animation: $state-animation-name $input-state-animation-duration;
        border-color: $state-color !important;
        color: $state-color !important;

        &::placeholder {
          color: $state-color !important;
        }
      }
    }
  }

  &.is-type-toggled {
    .c-input__toggle-type {
      &::after {
        transform: translate3d(-50%, -50%, 0) rotate(-24deg) scale(1);
      }
    }
  }

  &__control:placeholder-shown,
  &__control:focus,
  &.is-filled {
    border-color: $control-active-border-color;

    .c-input__control {
      border-color: $control-active-border-color;
    }

    + .c-input__label,
    .c-input__label {
      @include input-label-active;
    }
  }

  // Add max width for only has-expand-on-focus
  &.has-expand-on-focus &__control:placeholder-shown,
  &.has-expand-on-focus &__control:focus,
  &.has-expand-on-focus.is-filled {
    max-width: $input-expand-on-focus-max-width-expanded !important;

    .c-input__control {
      max-width: $input-expand-on-focus-max-width-expanded !important;
    }

    + .c-input__label,
    .c-input__label {
      max-width: $input-expand-on-focus-max-width-expanded !important;
    }
  }

  // Add background color to label if input filled
  &.is-filled[disabled],
  &.is-filled.is-disabled,
  &.is-filled .c-input__control[disabled],
  &.is-filled .c-input__control.is-disabled {
    + .c-input__label,
    .c-input__label {
      background-color: $label-background-color !important;
    }
  }

  //
  // Disabled Styles
  //

  &[disabled],
  &.is-disabled,
  &__control[disabled],
  &__control.is-disabled {
    background-color: $control-disabled-background-color;
    border-color: $control-disabled-border-color !important; // Add important to override filled status
    cursor: not-allowed;
    opacity: $input-disabled-opacity;

    + .c-input__label,
    .c-input__label {
      background-color: transparent !important; // Add important to override filled status
    }
  }
}

// stylelint-enable declaration-no-important, selector-max-specificity, selector-max-class
