@import '../../assets/styles/abstracts/index';

//
// Globals
//

@import '../../node_modules/tippy.js/dist/tippy.css';
@import '../../node_modules/tippy.js/dist/svg-arrow.css';

//
// Options
//

@import '../../node_modules/tippy.js/dist/backdrop.css';
@import '../../node_modules/tippy.js/animations/shift-away.css';

//
// Themes
//

@import '../../node_modules/tippy.js/themes/material.css';
@import '../../node_modules/tippy.js/themes/light.css';

.c-tooltip {
  display: inline-block;
}

.tippy-box {
  font-size: $g-font-size-small;
  text-align: center;
}
