.page-enter-active,
.page-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity, transform;
  transition-timing-function: $g-transition-timing-function;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(-15px); // stylelint-disable-line meowtec/no-px
}

.layout-enter-active,
.layout-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity, transform;
  transition-timing-function: $g-transition-timing-function;
}

.layout-enter,
.layout-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: $g-transition-timing-function;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
