//
// Flexbox Center
//

// Flexbox Centers
// -------------------------

@mixin flexbox-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Flexbox VerticalCenter
// -------------------------

@mixin flexbox-vertical-center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Flexbox Horizontal Center
// -------------------------

@mixin flexbox-horizontal-center() {
  display: flex;
  align-items: center;
}
